<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="connection" value="data.db" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="passwd" value="123456"/>
        <add key="Topmost" value="false"/>
    </appSettings>
</configuration>